<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Admin Template - Delight</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css" />
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="css/color.css" />
</head>
<body>
	<div class="loader-container circle-pulse-multiple">
		<div class="page-loader">
			<div id="loading-center-absolute">
				<div class="object" id="object_four"></div>
				<div class="object" id="object_three"></div>
				<div class="object" id="object_two"></div>
				<div class="object" id="object_one"></div>
			</div>
		</div>
	</div>
	<div class="topbar">
		<div class="logo"><a href="#" title="">DELIGHT</a></div><!-- Logo -->
		<a class="sidemenu-btn waves-effect waves-light" href="#" title=""><i class="ti-menu"></i></a><!-- Sidemenu Button -->

		<div class="dropdown">
			<a class="dropdown-button" href='#' title="" data-activates='dropdown1'>Dropdown <i class="ti-angle-down"></i></a>			
			<ul id='dropdown1' class='dropdown-content'>
				<li><a href="steps-form.html">Steps Form</a></li>
				<li><a href="contacts.html">Contacts</a></li>
				<li class="divider"></li>
				<li><a href="form-builder.html">Form Builder</a></li>
				<li><a href="tour.html">Page Tour</a></li>
				<li><a href="extra-options.html">Extra Options</a></li>
			</ul>		
		</div><!-- Dropdown -->

		<div class="activity">
			<h4 class="cd-headline clip is-full-width">
	            <span class="cd-words-wrapper">
	                <b class="is-visible"><span class="alert success">Success</span> Jessica Roy Has Just Accepted Your Friend Request ...</b>
	                <b class="is-hidden"><span class="alert warning">Warning</span> Server #405 has been crashed</b>
	                <b class="is-hidden"><span class="alert info">Info</span> Micky Merlen has sent you an email...</b>
	                <b class="is-hidden"><span class="alert error">Error</span> Server #405 is disconnected</b>
	            </span>									
			</h4>
		</div><!-- Activity -->

		<div class="topbar-links">
			<div class="notification">
				<a class="click-btn" href="#" title=""><i class="ti-bell"></i> <span>2</span></a>
				<div class="notification-dropdown z-depth-2">
					<div class="notification-top">
						<ul class="tabs">
							<li class="tab"><a class="active" href="#notification"><i class="ti-world"></i></a></li>
							<li class="tab"><a href="#task"><i class="ti-view-list-alt"></i></a></li>
							<li class="tab"><a href="#event"><i class="ti-calendar"></i></a></li>
						</ul>						
					</div>
					<div class="notification-bottom">
						<div id="notification">
							<h5>You Have 10 New Notifications</h5>
							<div class="notification-inner scroll">
								<div class="notification-box">
									<img src="http://placehold.it/48x47" alt="" />
									<div class="notification-detail">
										<h6 class="blue-text"><a href="mail-open.html" title="">Clarine Wassel</a></h6>
										<span>20 mins ago</span>
										<p><a href="mail-open.html" title="">Do you want to grab some...</a></p>
									</div>
								</div><!-- Notification Box -->
								<div class="notification-box">
									<img src="http://placehold.it/48x47" alt="" />
									<div class="notification-detail">
										<h6 class="orange-text"><a href="mail-open.html" title="">Todd Cok</a></h6>
										<span>45 mins ago</span>
										<p><a href="mail-open.html" title="">Let’s Schedule a Meeting ..</a></p>
									</div>
								</div><!-- Notification Box -->
								<div class="notification-box">
									<img src="http://placehold.it/48x47" alt="" />
									<div class="notification-detail">
										<h6 class="cyan-text"><a href="mail-open.html" title="">Jeniffer Ross</a></h6>
										<span>20 mins ago</span>
										<p><a href="mail-open.html" title="">We Are looking to hire ....</a></p>
									</div>
								</div><!-- Notification Box -->
								<div class="notification-box">
									<img src="http://placehold.it/48x47" alt="" />
									<div class="notification-detail">
										<h6 class="green-text"><a href="mail-open.html" title="">Clarine Wassel</a></h6>
										<span>20 mins ago</span>
										<p><a href="mail-open.html" title="">Do you want to grab some</a></p>
									</div>
								</div><!-- Notification Box -->
							</div>
						</div><!-- Notifications -->

						<div id="task">
							<h5>You Have 5 Tasks Pending</h5>
							<div class="task-inner scroll">
								<div class="admin-task">
									<h6>HTML5 Validation Report</h6>
									<div class="progress"><div class="determinate purple lighten-3" style="width: 70%"></div></div>
								</div><!-- Admin Task -->
								<div class="admin-task">
									<h6>Google Chrome Extentions</h6>
									<div class="progress"><div class="determinate green" style="width: 45%"></div></div>
								</div><!-- Admin Task -->
								<div class="admin-task">
									<h6>Social Intranet Projects</h6>
									<div class="progress"><div class="determinate red" style="width:86%"></div></div>
								</div><!-- Admin Task -->
								<div class="admin-task">
									<h6>Social Intranet Projects</h6>
									<div class="progress"><div class="determinate blue" style="width: 63%"></div></div>
								</div><!-- Admin Task -->
								<div class="admin-task">
									<h6>Youtube Client App</h6>
									<div class="progress"><div class="determinate yellow darken-4" style="width:78%"></div></div>
								</div><!-- Admin Task -->
								<div class="admin-task">
									<h6>HTML5 Validation Report</h6>
									<div class="progress"><div class="determinate purple lighten-3" style="width: 70%"></div></div>
								</div><!-- Admin Task -->
								<div class="admin-task">
									<h6>Google Chrome Extentions</h6>
									<div class="progress"><div class="determinate green" style="width: 45%"></div></div>
								</div><!-- Admin Task -->
							</div>
						</div><!-- Task -->

						<div id="event">
							<div class="event-inner scroll">
								<h5>6 Events are Coming This Week</h5>
								<div class="admin-event">
									<span class="orange darken-4">23 Mar</span>
									<p>Old school Red, White, and Blue satin</p>
								</div><!-- Admin Event -->
								<div class="admin-event">
									<span class="green darken-4">05 Aug</span>
									<p>Hook-and-loop closure firm assures for everyone. </p>
								</div><!-- Admin Event -->
								<div class="admin-event">
									<span class="brown darken-5">13 Jan</span>
									<p>The ideal award for the champion your event. </p>
								</div><!-- Admin Event -->
								<div class="admin-event">
									<span class="blue lighten-2">20 Oct</span>
									<p>Belt is more than 6" wide and has padded inner</p>
								</div><!-- Admin Event -->
							</div>
						</div><!-- Event -->

					</div>
				</div><!-- Notification Dropdown -->
			</div><!-- Notifications -->
			<div class="launcher">
				<a class="click-btn" href="#" title=""><i class="ti-widget"></i></a>
				<div class="launcher-dropdown z-depth-2">
					<a href="mail.html" title="" class="launch-btn"><i class="ti-comment-alt blue-text"></i> <span>Mail Box</span></a>
					<a href="profile.html" title="" class="launch-btn"><i class="ti-user green-text"></i> <span>View Profile</span></a>
					<a href="dynamic-gallery.html" title="" class="launch-btn"><i class="ti-layers purple-text"></i> <span>Gallery</span></a>
					<a href="steps-form.html" title="" class="launch-btn"><i class="ti-panel cyan-text"></i> <span>Steps Form</span></a>
					<a href="tasks.html" title="" class="launch-btn"><i class="ti-view-list-alt red-text"></i> <span>Recent Tasks</span></a>
					<a href="login.html" title="" class="launch-btn"><i class="ti-lock orange-text"></i> <span>Sign Out</span></a>
				</div>
			</div><!-- Launcher -->
		</div><!-- Topbar Links -->
	</div><!-- Top Bar -->

	<div class="sidemenu">
		<div class="sidemenu-inner scroll">
			<div class="admin">
				<img src="http://placehold.it/78x78" alt="" />
				<div class="admin-detail">
					<h2>James Baker</h2>
					<a class="dropdown-button" href='#' title="" data-activates='dropdown2'><span class="green"></span> Online <i class="ti-angle-down"></i></a>
					<ul id='dropdown2' class='dropdown-content'>
						<li><a href="#!">Offline</a></li>
						<li><a href="#!">Busy</a></li>
						<li><a href="#!">Away</a></li>
						<li class="divider"></li>
						<li><a href="login.html">Signout</a></li>
					</ul>		
				</div>
			</div><!-- Admin -->

			<nav class="admin-nav">
				<h6>Main</h6>
				<ul>
					<li><a class="waves-effect" href="#" title=""><i class="ti-home red lighten-1"></i> Dashboard</a>
						<ul>
							<li><a href="index.html" title="">Dashboard 1</a></li>
							<li><a href="index2.html" title="">Dashboard 2</a></li>
							<li><a href="index3.html" title="">Dashboard 3</a></li>
							<li><a href="rounded.html" title="">Rounded Version</a></li>
							<li><a href="rtl.html" title="">RTL Version</a></li>
							<li><a href="dark-sidemenu.html" title="">Dark Sidemenu</a></li>
						</ul>
					</li>
					<li><a class="waves-effect" href="#" title=""><i class="ti-widgetized pink lighten-3"></i> Elements</a>
						<ul>
							<li><a href="charts.html" title="">Charts</a></li>
							<li><a href="contacts.html" title="">Contacts</a></li>
							<li><a href="dynamic-calendar.html" title="">Dynamic Calendar</a></li>
							<li><a href="editor.html" title="">Editor</a></li>
							<li><a href="form-builder.html" title="">Form Builder</a></li>
							<li><a href="datatables.html" title="">Data Tables</a></li>
							<li><a href="forms.html" title="">Forms</a></li>
							<li><a href="icons.html" title="">Icons</a></li>
							<li><a href="icons2.html" title="">Icons 2</a></li>
							<li><a href="maps.html" title="">Maps</a></li>
							<li><a href="profile.html" title="">Profile</a></li>
							<li><a href="steps-form.html" title="">Steps Form</a></li>
							<li><a href="tasks.html" title="">Tasks</a></li>
						</ul>
					</li>
					<li><a class="waves-effect" href="#" title=""><i class="ti-widgetized blue lighten-3"></i> Features</a>
						<ul>
							<li><a href="accordions.html" title="">Accordions</a></li>
							<li><a href="alerts.html" title="">Alerts</a></li>
							<li><a href="calculator.html" title="">Calculator</a></li>
							<li><a href="forms.html" title="">Forms</a></li>
							<li><a href="modals.html" title="">Modals</a></li>
							<li><a href="#" title=""> Galleries</a>
								<ul>
									<li><a href="simple-gallery.html" title="">Simple Gallery</a></li>
									<li><a href="dynamic-gallery.html" title="">Dynamic Gallery</a></li>
								</ul>
							</li>
							<li><a href="sliders.html" title="">Sliders</a></li>
							<li><a href="sortable.html" title="">Sortable</a></li>
							<li><a href="steps-form.html" title="">Steps Form</a></li>
							<li><a href="syntax.html" title="">Syntax</a></li>
							<li><a href="tour.html" title="">Page Tour</a></li>
						</ul>
					</li>
					<li><a class="waves-effect" href="#" title=""><i class="ti-email purple lighten-3"></i> Mailbox</a>
						<ul>
							<li><a href="mail.html" title="">Inbox</a></li>
							<li><a href="mail-open.html" title="">Mail Open</a></li>
							<li><a href="compose.html" title="">Compose Mail</a></li>
						</ul>
					</li>
					<li><a class="waves-effect" href="#" title=""><i class="ti-key orange lighten-2"></i> Login</a>
						<ul>
							<li><a href="login.html" title="">Login</a></li>
							<li><a href="register.html" title="">Register</a></li>
							<li><a href="forget.html" title="">Forget Password</a></li>
						</ul>
					</li>
				</ul>
				<h6>More</h6>
				<ul>
					<li><a class="waves-effect" href="#" title=""><i class="ti-heart red lighten-1"></i> Pages</a>
						<ul>
							<li><a href="404.html" title="">Error 404</a></li>
							<li><a href="blog.html" title="">Blog</a></li>
							<li><a href="blog-detail.html" title="">Blog Detail</a></li>
							<li><a href="tour.html" title="">Page Tour</a></li>
							<li><a href="extra-options.html" title="">Extra Options</a></li>
						</ul>
					</li>
					<li><a class="waves-effect" href="charts.html" title=""><i class="ti-bar-chart pink lighten-3"></i> Charts</a></li>
					<li><a class="waves-effect" href="#" title=""><i class="ti-image purple lighten-3"></i> Galleries</a>
						<ul>
							<li><a href="simple-gallery.html" title="">Simple Gallery</a></li>
							<li><a href="dynamic-gallery.html" title="">Dynamic Gallery</a></li>
						</ul>
					</li>
					<li><a class="waves-effect" href="contacts.html" title=""><i class="ti-user blue lighten-3"></i> Contacts</a></li>
					<li><a class="waves-effect" href="extra-options.html" title=""><i class="ti-crown orange lighten-2"></i> Extra Options</a></li>
				</ul>
			</nav>
		</div>
	</div><!-- Sidemenu -->

	<div class="content-area">
		<div class="breadcrumb-bar">
			<div class="page-title">
				<h1>Delight Icons</h1>
				<span>List Of Materialize Icons</span>
			</div>

			<form class="search-admin waves-effect">
				<input type="text" placeholder="Enter Keyword To Search..." />
				<button><i class="ti-search"></i></button>
			</form>

			<ul class="admin-breadcrumb">
				<li><a href="#" title="">Dashboard</a></li>
				<li><a href="#" title="">Pages</a></li>
				<li>Icons 2</li>
			</ul>
		</div><!-- Breadcrumb Bar -->

		<div class="widgets-wrapper">
			<div class="row">
				<div class="masonary">

					<div class="col s12">
						<div class="widget z-depth-1">
							<div class="loader"></div>								
							<div class="widget-title">
								<h3>Themify Icons</h3>
								<p>16.3% compared to last month</p>
								<a class="options dropdown-button waves-effect" href="#" title="" data-activates='dropdown3'><i class="ti-more-alt"></i></a>
								<ul id='dropdown3' class='dropdown-content'>
									<li><a class="rld" href="#!" title="">Reload</a></li>
									<li><a class="fl-scr" href="#!" title="">Full Screen</a></li>
									<li><a class="rmv" href="#!" title="">Remove</a></li>
								</ul>								
							</div>


							<div class="row icon-container">
							<br><br>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">info_outline</i><span>info_outline</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">input</i><span>input</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">invert_colors</i><span>invert_colors</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">label</i><span>label</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">label_outline</i><span>label_outline</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">language</i><span>language</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">query_builder</i><span>query_builder</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">perm_identity</i><span>perm_identity</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">perm_media</i><span>perm_media</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">perm_phone_msg</i><span>perm_phone_msg</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">perm_scan_wifi</i><span>perm_scan_wifi</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">picture_in_picture</i><span>picture_in_picture</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">play_for_work</i><span>play_for_work</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">polymer</i><span>polymer</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">power_settings_new</i><span>power_settings_new</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">print</i><span>print</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">thumb_down</i><span>thumb_down</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">thumb_up</i><span>thumb_up</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">thumbs_up_down</i><span>thumbs_up_down</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">email</i><span>email</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">dialpad</i><span>dialpad</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">dialer_sip</i><span>dialer_sip</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">contacts</i><span>contacts</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">forward_5</i><span>forward_5</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">stay_current_portrait</i><span>stay_current_portrait</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">stay_primary_landscape</i><span>stay_primary_landscape</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">stay_primary_portrait</i><span>stay_primary_portrait</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">swap_calls</i><span>swap_calls</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">textsms</i><span>textsms</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">voicemail</i><span>voicemail</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">vpn_key</i><span>vpn_key</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">group_work</i><span>group_work</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">grade</i><span>grade</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">clear_all</i><span>clear_all</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">chat_bubble_outline</i><span>chat_bubble_outline</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">chat_bubble</i><span>chat_bubble</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">repeat</i><span>repeat</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">repeat_one</i><span>repeat_one</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">replay</i><span>replay</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">replay_10</i><span>replay_10</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">replay_30</i><span>replay_30</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">replay_5</i><span>replay_5</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">shuffle</i><span>shuffle</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">skip_next</i><span>skip_next</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">skip_previous</i><span>skip_previous</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">contact_phone</i><span>contact_phone</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">comment</i><span>comment</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">recent_actors</i><span>recent_actors</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">snooze</i><span>snooze</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">sort_by_alpha</i><span>sort_by_alpha</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">stop</i><span>stop</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">subtitles</i><span>subtitles</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">surround_sound</i><span>surround_sound</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">web</i><span>web</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">volume_up</i><span>volume_up</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">volume_off</i><span>volume_off</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">volume_mute</i><span>volume_mute</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">toc</i><span>toc</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">today</i><span>today</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">toll</i><span>toll</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">track_changes</i><span>track_changes</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">translate</i><span>translate</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">trending_down</i><span>trending_down</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">question_answer</i><span>question_answer</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">receipt</i><span>receipt</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">done</i><span>done</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">tab</i><span>tab</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">tab_unselected</i><span>tab_unselected</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">theaters</i><span>theaters</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">hd</i><span>hd</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">games</i><span>games</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">hearing</i><span>hearing</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">view_module</i><span>view_module</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">view_list</i><span>view_list</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_remote</i><span>settings_remote</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_voice</i><span>settings_voice</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">search</i><span>search</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings</i><span>settings</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_applications</i><span>settings_applications</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_backup_restore</i><span>settings_backup_restore</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_bluetooth</i><span>settings_bluetooth</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_brightness</i><span>settings_brightness</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_cell</i><span>settings_cell</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_ethernet</i><span>settings_ethernet</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_input_antenna</i><span>settings_input_antenna</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">trending_flat</i><span>trending_flat</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">trending_up</i><span>trending_up</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">work</i><span>work</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">youtube_searched_for</i><span>youtube_searched_for</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">zoom_in</i><span>zoom_in</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">my_location</i><span>my_location</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">visibility_off</i><span>visibility_off</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">visibility</i><span>visibility</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">view_week</i><span>view_week</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">view_stream</i><span>view_stream</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">view_quilt</i><span>view_quilt</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">video_library</i><span>video_library</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">videocam</i><span>videocam</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">videocam_off</i><span>videocam_off</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">volume_down</i><span>volume_down</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_overscan</i><span>settings_overscan</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_input_svideo</i><span>settings_input_svideo</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_input_hdmi</i><span>settings_input_hdmi</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_input_composite</i><span>settings_input_composite</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_input_component</i><span>settings_input_component</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">launch</i><span>launch</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">perm_device_information</i><span>perm_device_information</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">perm_data_setting</i><span>perm_data_setting</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">zoom_out</i><span>zoom_out</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">alarm_on</i><span>alarm_on</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">dns</i><span>dns</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">redeem</i><span>redeem</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">reorder</i><span>reorder</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">report_problem</i><span>report_problem</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">restore</i><span>restore</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">room</i><span>room</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">schedule</i><span>schedule</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">movie</i><span>movie</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">android</i><span>android</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">announcement</i><span>announcement</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">mic_off</i><span>mic_off</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">mic_none</i><span>mic_none</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">swap_horiz</i><span>swap_horiz</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">swap_vert</i><span>swap_vert</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">swap_vertical_circle</i><span>swap_vertical_circle</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">system_update_alt</i><span>system_update_alt</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">present_to_all</i><span>present_to_all</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">portable_wifi_off</i><span>portable_wifi_off</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">phonelink_setup</i><span>phonelink_setup</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">phonelink_ring</i><span>phonelink_ring</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">phonelink_lock</i><span>phonelink_lock</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">phonelink_erase</i><span>phonelink_erase</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">person_pin</i><span>person_pin</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">navigation</i><span>navigation</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">new_releases</i><span>new_releases</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">not_interested</i><span>not_interested</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">pause</i><span>pause</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">pause_circle_filled</i><span>pause_circle_filled</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">pause_circle_outline</i><span>pause_circle_outline</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">play_arrow</i><span>play_arrow</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">play_circle_filled</i><span>play_circle_filled</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">play_circle_outline</i><span>play_circle_outline</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">playlist_add</i><span>playlist_add</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">queue</i><span>queue</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">queue_music</i><span>queue_music</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">radio</i><span>radio</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">class</i><span>class</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">code</i><span>code</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">credit_card</i><span>credit_card</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">dashboard</i><span>dashboard</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">delete</i><span>delete</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">description</i><span>description</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">open_with</i><span>open_with</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">pageview</i><span>pageview</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">payment</i><span>payment</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">perm_camera_mic</i><span>perm_camera_mic</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">perm_contact_calendar</i><span>perm_contact_calendar</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">airplay</i><span>airplay</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">done_all</i><span>done_all</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">phone</i><span>phone</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">no_sim</i><span>no_sim</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">invert_colors_off</i><span>invert_colors_off</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">chat</i><span>chat</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">call_split</i><span>call_split</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">call_received</i><span>call_received</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">call_missed</i><span>call_missed</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">call_merge</i><span>call_merge</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">call_made</i><span>call_made</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">call_end</i><span>call_end</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">call</i><span>call</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">business</i><span>business</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">alarm_off</i><span>alarm_off</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">message</i><span>message</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">location_on</i><span>location_on</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">location_off</i><span>location_off</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">live_help</i><span>live_help</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">album</i><span>album</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">av_timer</i><span>av_timer</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">closed_caption</i><span>closed_caption</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">equalizer</i><span>equalizer</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">turned_in_not</i><span>turned_in_not</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">verified_user</i><span>verified_user</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">view_agenda</i><span>view_agenda</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">view_array</i><span>view_array</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">view_carousel</i><span>view_carousel</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">view_column</i><span>view_column</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">subject</i><span>subject</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">supervisor_account</i><span>supervisor_account</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_power</i><span>settings_power</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">shop</i><span>shop</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">shop_two</i><span>shop_two</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">shopping_basket</i><span>shopping_basket</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">shopping_cart</i><span>shopping_cart</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">speaker_notes</i><span>speaker_notes</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">spellcheck</i><span>spellcheck</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">star</i><span>star</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">stars</i><span>stars</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">store</i><span>store</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">ring_volume</i><span>ring_volume</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">speaker_phone</i><span>speaker_phone</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">stay_current_landscape</i><span>stay_current_landscape</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">forum</i><span>forum</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">import_export</i><span>import_export</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">open_in_browser</i><span>open_in_browser</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">open_in_new</i><span>open_in_new</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">forward_30</i><span>forward_30</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">turned_in</i><span>turned_in</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">view_headline</i><span>view_headline</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">view_day</i><span>view_day</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">warning</i><span>warning</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">error_outline</i><span>error_outline</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">error</i><span>error</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">add_alert</i><span>add_alert</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">settings_phone</i><span>settings_phone</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">forward_10</i><span>forward_10</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">fast_rewind</i><span>fast_rewind</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">fast_forward</i><span>fast_forward</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">explicit</i><span>explicit</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">list</i><span>list</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">lock</i><span>lock</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">lock_open</i><span>lock_open</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">lock_outline</i><span>lock_outline</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">loyalty</i><span>loyalty</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">markunread_mailbox</i><span>markunread_mailbox</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">note_add</i><span>note_add</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">offline_pin</i><span>offline_pin</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">http</i><span>http</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">mic</i><span>mic</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">loop</i><span>loop</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">library_music</i><span>library_music</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">library_books</i><span>library_books</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">library_add</i><span>library_add</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">high_quality</i><span>high_quality</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">info</i><span>info</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">https</i><span>https</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">aspect_ratio</i><span>aspect_ratio</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">assessment</i><span>assessment</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">assignment</i><span>assignment</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">assignment_ind</i><span>assignment_ind</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">assignment_late</i><span>assignment_late</span></div>
							<div class="icon-preview col s6 m3"><i class="material-icons dp48">mode_edit</i><span>mode_edit</span></div>


							</div>

						</div><!-- Widget -->
					</div>


			

				</div>
			</div>

		</div>
	</div><!-- Content Area -->




 	<script src="js/jquery.min.js"></script>
 	<script src="js/materialize.min.js"></script>
 	<script src="js/enscroll-0.5.2.min.js"></script>
 	<script src="js/animate-headline.js"></script>
  	<script src="js/slick.min.js"></script>
	<script src="js/script.js" type="text/javascript"></script>
 	<script src="js/isotope.js"></script>

</body>
</html>





